/* CSS for skins.html */

.mules-skin,
.wizard-mules,
.dark-wizard-mules,
.dead-mules,
.sith-mules,
.work-mules,
.princess-mules,
.suit-mules{
  display: inline-block;
  width: 120px;
  vertical-align: top;
}


