.title{
  text-align: center;
  padding: 10px;
}

.other-social-link{
  color: black;
}

/*.twitter-social-link::before{
  content: url("/media/images/twitter_logo.png");
  width: 50px;
  height: 50px;
}



.mastodon-social-link::before{
  content: url("/media/images/mastodon_logo.svg");
  width: 50px;
  height: 50px;
}

.bsky-social-link::before{
  content: url("/media/images/bluesky.svg");
  width: 50px;
  height: 50px;
}*/

.other-social-div{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}