/* All CSS for the youtube section of www.mulesgaming.com home page */

/* Main area */

.youtube-main{
  background-color: rgb(238, 55, 55);
}

/* Channel */

.channel-contaner{
  text-align: center;
}

.subscribers-link,
.channel-link{
  color: black;
  text-decoration: none;
}

.channel-icon{
  border-radius: 100px;
  width: 150px;
}

.channel-name{
  margin-bottom: 0px;
  font-family: Roboto, Arial;
}

.subscribers{
  margin-top: 0px;
  font-family: Roboto, Arial;
  font-size: 20px;
}

.handle-text{
  color: rgb(77, 77, 77);
  font-size: 13px;
}

/* Videos */

.videos-area-title{
  text-align: center;
  font-family: Roboto, Arial;
}

.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 15px;
}

.videos-link{
  color: black;
  text-decoration: none;
}

.video-thumbnail{
  width: 480px;
  border-radius: 5px;
}

.video-title{
  margin-bottom: 0px;
  max-width: 490px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Views */

.video-stats{
  align-items: center;
}

.view-icon{
  width: 30px;
  vertical-align: middle;
}

.view-count{
  display: inline-block;
}

