ErrorDocument 301 /page-moved.html

ErrorDocument 400 /generic-error.html
ErrorDocument 401 /generic-error.html
ErrorDocument 403 /forbidden.html
ErrorDocument 404 /404.html
ErrorDocument 408 /generic-error.html
ErrorDocument 413 /generic-error.html
ErrorDocument 417 /generic-error.html

ErrorDocument 500 /500.html
ErrorDocument 503 /generic-error.html
ErrorDocument 505 /generic-error.html
ErrorDocument 508 /generic-error.html
