/* CSS for the videos gotton by videos.js */

/* Divs */

.mules,
.bluey,
.zaynii{
  width: 500px;
  float: left;
}

.people-videos{
  display: table;
}

.video{
  max-width: 500px;
  margin-right: 0;
}

/* Thumbnali */

.thumbnail-contaner{
  height: 285px; 
  overflow: hidden;
  display: flex;
  align-items: center;
}

.thumbnail{
  height: 400px;
  width: 480px;
  border-radius: 90px;
  margin: 0px 0px 0px 0px;
}

/* Info and title */

.video-link{
  color: black;
  text-decoration: none;
}

.video-title{
  margin-bottom: 5px;
}

.channel,
.video-desc{
  margin-top: 0;
  margin-bottom: 5px;
}

.channel{
  margin-bottom: 40px;
}


