/* Universal styles */
body{
  margin: 0px;
  font-family: Roboto, Arial;
  color: white;
  background-image: url("/media/images/minecraft-wordle/grass_block.png");
}

main{
  background-color: rgb(53, 42, 42);
}

.link{
  color: white;
}

/* Warnings */

.warnings{
  position: relative;
  align-items: top;
  vertical-align: top;
}

.error{
  background-color: red;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  max-width: 100%;
  position: absolute;
  top: -40px;
  right: 700px;
  text-align: center;
  visibility: hidden;
  z-index: 100;
}

/* Header and description */

.header,
.desc{
  text-align: center;
}

/* Main game */

.main-game{
  text-align: center;
}
