/* Body */

body{
  background-color: rgb(175, 175, 175);
}

/* Links */

.source-code,
.bugs,
.versions,
.wiki{
  display: inline-block;
}

.bugs-text{
  padding-left: 30px;
}

/* Credits */

.website{
  color: rgb(0, 0, 0);
  background-color: rgb(95, 203, 95);
  border: none;
  cursor: pointer;
  border-radius: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 12px;
  transition: opacity .15s;
}

.website:hover{
  opacity: .8;
}



.youtube{
  color: white;
  background-color: rgb(204, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  transition: opacity .15s;
}


.youtube:hover{
  opacity: .8;
}
