h3{
  margin-bottom: .5px;
}

.datapack-backround{
  background-color: gray;
  border-style: solid;
  border-radius: 5px;
}

.datapack-info{
  color: lightgray;
  font-size: small;
  margin-top: 0px;
}

.desc{
  margin-top: 10px;
}