/* CSS for website dropdown menu */

.dropdown{
  position: absolute;
  z-index: 100;
}

/* Icon and close */

.dropdown-icon{
  cursor: pointer;
}

.dropdown-close{
  cursor: pointer;
  position: absolute;
  right: -30px;
  font-size: 30px;
}

/* Menu */

.dropdown-menu-main{
  visibility: hidden;
  min-width: 50px;
  position: fixed;
  height: 100%;
  width: 25%;
  background-color: blue;
  padding-top: 5px;
}

.dropdown-menu-main a {
  text-decoration: none;
}

.dropdown-menu-img{
  margin-right: 5px;
  vertical-align: middle;
}

.dropdown-menu-item{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.dropdown-menu-item:hover{
  background-color: #2e2e7a;
}
